---
# ConfigMap
apiVersion: v1
kind: ConfigMap
metadata:
  name: spring-config
data:
  SPRING_APPLICATION_NAME: student-management
  SPRING_DATASOURCE_URL: jdbc:mysql://mysql-service:3306/studentdb?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
  SPRING_JPA_SHOW_SQL: "true"
  SPRING_JPA_HIBERNATE_DDL_AUTO: update
  SPRING_JPA_HIBERNATE_NAMING_PHYSICAL_STRATEGY: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
  SPRING_JPA_HIBERNATE_NAMING_IMPLICIT_STRATEGY: org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyJpaImpl
  SPRING_SQL_INIT_MODE: always
  SERVER_PORT: "8089"
  SERVER_SERVLET_CONTEXT_PATH: /student
---
# Secret
apiVersion: v1
kind: Secret
metadata:
  name: spring-secret
type: Opaque
data:
  SPRING_DATASOURCE_USERNAME: cm9vdA==  # root
  SPRING_DATASOURCE_PASSWORD: cm9vdA==  # root
---
# Deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: student-app  # Changé de spring-app à student-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: student-app
  template:
    metadata:
      labels:
        app: student-app
    spec:
      containers:
        - name: student-app
          image: ahlembounasri/student-management:latest  # Placeholder remplacé par pipeline
          imagePullPolicy: Always
          ports:
            - containerPort: 8089
          envFrom:
            - configMapRef:
                name: spring-config
            - secretRef:
                name: spring-secret
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "1Gi"
              cpu: "500m"
          livenessProbe:
            httpGet:
              path: /student/actuator/health
              port: 8089
            initialDelaySeconds: 60
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /student/actuator/health
              port: 8089
            initialDelaySeconds: 30
            periodSeconds: 5
---
# Service
apiVersion: v1
kind: Service
metadata:
  name: student-service
spec:
  selector:
    app: student-app
  ports:
    - port: 8089
      targetPort: 8089
      nodePort: 30080
  type: NodePort