apiVersion: apps/v1
kind: Deployment
  meta
name: spring-app
namespace: devops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spring-app
  template:
    metadata:
    labels:
      app: spring-app
    spec:
      containers:
        - name: spring-app
          image: student-management:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8089
---
apiVersion: v1
kind: Service
  meta
name: spring-service
namespace: devops
spec:
  type: NodePort
  ports:
    - port: 8089
      targetPort: 8089
      nodePort: 30089
  selector:
    app: spring-app