---
# Deployment avec env: explicite
apiVersion: apps/v1
kind: Deployment
metadata:
  name: student-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: student-app
  template:
    metadata:
      labels:
        app: student-app
    spec:
      containers:
        - name: student-app
          image: "ahlembounasri/student-management:latest"
          imagePullPolicy: Always
          ports:
            - containerPort: 8089
          env:
            - name: SPRING_APPLICATION_NAME
              value: "student-management"
            - name: SPRING_DATASOURCE_URL
              value: "jdbc:mysql://mysql-service:3306/studentdb?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC"
            - name: SPRING_DATASOURCE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: spring-secret
                  key: SPRING_DATASOURCE_USERNAME
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: spring-secret
                  key: SPRING_DATASOURCE_PASSWORD
            - name: SPRING_JPA_SHOW_SQL
              value: "true"
            - name: SPRING_JPA_HIBERNATE_DDL_AUTO
              value: "update"
            - name: SPRING_JPA_HIBERNATE_NAMING_PHYSICAL_STRATEGY
              value: "org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl"
            - name: SPRING_JPA_HIBERNATE_NAMING_IMPLICIT_STRATEGY
              value: "org.hibernate.boot.model.naming.ImplicitNamingStrategyLegacyJpaImpl"
            - name: SPRING_SQL_INIT_MODE
              value: "always"
            - name: SERVER_PORT
              value: "8089"
            - name: SERVER_SERVLET_CONTEXT_PATH
              value: "/student"
          resources:
            requests:
              memory: "512Mi"
              cpu: "250m"
            limits:
              memory: "1Gi"
              cpu: "500m"
          livenessProbe:
            httpGet:
              path: "/student/actuator/health"
              port: 8089
            initialDelaySeconds: 60
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: "/student/actuator/health"
              port: 8089
            initialDelaySeconds: 30
            periodSeconds: 5
---
# Service
apiVersion: v1
kind: Service
metadata:
  name: student-service
spec:
  selector:
    app: student-app
  ports:
    - port: 8089
      targetPort: 8089
      nodePort: 30080
  type: NodePort
---
# Secret (séparé)
apiVersion: v1
kind: Secret
metadata:
  name: spring-secret
type: Opaque
stringData:
  SPRING_DATASOURCE_USERNAME: "root"
  SPRING_DATASOURCE_PASSWORD: "root"